
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 200px;
  height: 280px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: Rgb(0,0,0,1);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(124,206,240,1);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(96,177,76,1);
}

.Clubs_card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: .8rem;
    padding: 0.5rem;
}
.clubs_card_item1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .3rem;
}
.clubs_card_item1 >img
{
    width: 30px;
    height: 30px;
    position: relative;
    right: 9%;
}
.clubs_card_item1 > p
{
    font-size: .8rem;
}

.clubs_card_item2 
{
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    width: 100%;
}
.clubs_card_item2 :nth-child(1)
{
    color: #FFDD55;
}
.clubs_card_item2 :nth-child(2)
{
    color: #FF543E;
}
p
{
    padding:  0;
    margin: 0;
}
.clubs_card_item3 
{
    font-size: 0.6rem;
    text-align: center;
    width: 90%;
}
.Clubs_card_item4
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .7rem;
    height: 20%;
}
.Clubs_card_item4_1 >img
{
    width: 20px;
    height: 20px;
}

.Clubs_card_item4_1
{
    display: flex;
    flex-direction: column;
    font-size: 0.45rem;
    width: 30%;
    height: 100%;
    gap: .2rem;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.Clubs_card_item5
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .7rem;
}
.Clubs_card_item5 >img
{
    width: 20px;
    height: 20px;
}
#id7788
{
    color: #3771C8;
}
#id7789
{
    color: #FFFFFF;
}
#id77881
{
color: #FFDE59;
}
#id77882
{
    color: #60B14C;
}