/*All of the page that I made is here */
.MainContainer{

    display: flex;
    flex-direction: column;
}
.DepTalk{

    width: 100%;
    height: 500px;
    top: 34px;
    margin: 0; 
    padding: 0;
    background-color: #1F2041;
    
    display: flex;
    flex-direction: row;
    align-items: center;
     justify-content: space-around; 
    
}

.DepText{

 background-color: #1F2041 ;
 /* border: solid 2px red; */
 height: 80%;
 width: 45%;
 display: flex;
 flex-direction: column;
 justify-content: end;

 margin-bottom: 4rem;


}

#DepTitle{

    font-size: 25px;
    font-weight: 700;
    line-height: 160.6%;
    text-align: left;
  
color:  #DDBEA8;


}

#DepParagraph{

    color: white;



    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    line-height: 150%;
    



}

.DepImage{

    background-color: #1F2041 ;
/*     border: solid 2px red; */
width: 600px;
height: 400px;
top: 94px;
left: 132px;



}

.DepImage img{

    height: 100%;
    width: 100%;
 

}



.Formations{

    width: 100%;
    height: 400px;
   background-color:whitesmoke;
   display: flex;
   align-items: center;
   justify-content: center ;
   margin: 0; 
   padding: 0;
   position: relative;
   flex-direction: column;

}
.Formations > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
    padding: 0 3rem;
    
}

.FormationText{


    color: #1F2041;


    
   /*   border: solid 2px red; */

font-size: 30px;
font-weight: 600;
line-height: 140%;
text-align: left;
width: 30%;
/* margin-left: 20px;
margin-top: 80px; */
}

/* .FormationText > p {
    width: 50%;
} */

.FormationTalk{

     height: 80%;
     width: 35%;
    /*  border: solid 2px red; */

     display: flex;
     align-items: center;
     justify-content: center;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 22.61px;
    text-align: left;
    margin-right: 60px;

    color: #1F2041;
}
    

.FormationTitle{


    color: #368F8B;


font-weight: 200;
display: flex;
align-items: center;
justify-content: center;
width: 100%;

}




.L1_M2{

    margin: 0; 
    padding: 0;
    width: 100%;
    height: 440px;
    /* 487 */
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.FormationBox{

    width: 225px;
    height: 337px;
    left:0% ;
   
 
    opacity: 0%;
    
    color: white;
    margin-bottom: 100px;

 
display: flex;
align-items: center;
  flex-direction: column;
    

font-size: 19px;
font-weight: 700;
line-height: 26.82px;
text-align: left;

}

#L1{

    background-color: #1A1B36;


}
#L2{

background-color: #246A73;

    
}
#L3{

background-color: #368F8BE5;

    
}
#M1{

background-color: #DDBEA8;

    
}
#M2{

background-color: #F3DFC1;

    
}

.FormationBox h3{

    width: 187px;
    height: 25px;
    gap: 0px;
    opacity: 0%;
    
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 5px;

}

.FormationBox hr{


    width: 154.01px;
    height: 0px;

gap: 0px;
border: solid 1.5px white;
/* margin-bottom: 100px; */

}

.FormationBox .Para{


    width: 145px;
height: 147px;

top: 95px;
left: 38px;
gap: 0px;
opacity: 0%;



font-family: Montserrat;
font-size: 13px;
font-weight: 600;
line-height: 18px;
text-align: left;

}

.FormationBox .ParaM{

font-size: 13px;
line-height: 16px;

}



.FormationBox button{


display: flex;
align-items: center;
justify-content: center;


    width: 113px;
height: 30px;
top: 266px;
left: 69px;
gap: 0px;
opacity: 0%;

color: white;

border: 1px solid #368F8B;


font-size: 18px;
font-weight: 700;
line-height: 21.94px;
text-align: left;

margin-top: 30px;


background-color: #368F8B;

}


.Footer{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 445px;
    background-color:  #1F2041;
  
    
}

.Footer .Container1{

    width: 100%;
    height: 30%;
    background-color: #1F2041;
 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    

}




.Footer img{

    width: 120px;
    height: 120px;
    gap: 0px;
    opacity: 0%;
    

}
.DepartementImt{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 400px;

    height: auto;

    margin-left: 30px;

  /*   border: 1px Solid Red; */

}


.DepContactPics1 > img{
    height: 73px;
    width:64px ;
    margin-right: 30px

    
}
.DepContact1
{

    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    

/* border: 1px solid red; */
}

.Footer > .Container1 {
    padding: 5rem 0;
}

.Departement-dinformatique{

    font-size: 21px;
font-weight: 600;
line-height: 11px;
text-align: left;
display: flex;
flex-direction: column;
gap: 0.7rem;

}

.Departement-dinformatique >p:nth-child(2){

    margin-left:30px;
   

}

.Suivez-nous-sur{

    margin-right: 30px;

    font-size: 23px;
font-weight: 600;
line-height: 11px;
text-align: left;

}

.Footer .Container2{

    width: 100%;
    height: 500px;
    background-color: #1F2041;
    border-top: 2px solid #F3DFC1;
    
    display: flex;
    flex-direction: row; 
    justify-content: space-around; 
    align-items: center;

/*    gap: 500px; */
    
}

.Container2{
    width: 80%;
}

.Depcontact2
{

    height: auto;
    display: flex;
    flex-direction:column;
    justify-content: center;

/*    border: 1px solid red; */

    color: white;
}
.Depcontact2 > div > img{
    
    width: 37px;
height: 37px;
margin-right: 20px;
opacity: 0%;

}
.Depcontact2 > div{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
   /*  justify-content: center; */
    gap:10px;
    margin-left: 3.5rem;
    position: relative;



}

.ButtonUp{

display: flex;
flex-direction: column;
/* align-items: center;
justify-content: center; */
align-self: flex-end;
position: relative;
/* left: 100%; */

}



.ButtonUp  a img{
 
    align-self: flex-start;
    height: 60px;
    width: 60px;
    
    /* margin-bottom: 60px; */

/* 
    position: absolute;
    left: 92%;
    top: 255%; */
    

}

.additional_infos {
    display: flex;
    gap: 0 8rem;
    margin-left: 8.5%;
    
}


.Container3 {
    width: 100%;
    height: 70px;
    background-color:  #F3DFC1;
    color:#1A1B36;
    

    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: center;
}

 .Map{

height: 100px;
width: 100px;



margin-right: 80px;
margin-bottom:60px;


}

.Map iframe
{


height: 175px;
width: 175px;
border-radius: 50px;

}
.formation-
{
    display: flex;
    flex-direction: column;
    width: 20%;
    height:100%;
    align-items: center;
    justify-content: center;
}
.test
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: 100%;
}
.formation-
{
    background-color: #1A1B36;
    color: #FFFFFF;
    /* padding-left:3rem ; */
    padding: 2rem;
    /* padding-top: 3rem; */
    width: 100%;
}
.formation--content2
{
    width: 150px;
    height: 50px;
    font-size: 16pt;
    background-color: #368F8B;
    color: #FFFFFF;
    font-weight: 700;
    justify-self: center;
    margin-right: 30px;
}
.formation--content1 > div
{
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size:18pt ;
}
.formation--content1 > hr
{
    width: 154.01px;
    height: 0px;
    border: solid 1.5px white;
}
.formation--content1 > p{
    font-weight: 600;
    font-size: 10pt;
    line-height: 18px;
    text-align: left;
    width: 55%;
    min-height: 198px;
    max-height: 198px;
    position: relative;

}
.btn--1
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 30%;
}
.formation--content1 
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.formations-main
{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 3rem;
    background-color: #F5F5F5;

}

.test {
    /* width: 17%; */
    width: fit-content;
    max-width: 20rem;
}

.Licence2
{
    background-color:#246A73 ;
}
.Licence3
{
    background-color:#368F8B ;
}
.Master1
{
    background-color:#DDBEA8 ;
}
.Master2
{
    background-color:#F3DFC1 ;
}
#DepParagraph
{
    width: 83%;
}
#DepTitle
{
    width:90%;
}
.DepText
{
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 3rem;
}
.DepParagraph
{
    position: relative;
    
}



@media only screen and (max-width: 693px) {
    .formations-main {
        justify-content: center;
        
    }
}

@media only screen and (max-width: 1450px) {
    .formations-main {
        justify-content: center;
        
    }
}